$primary-color: #3A1772;
$red-color: #800020; 
$green-color: #00A693;
$blue-color: #1C39BB;
$orange-color: #D99058;
$light-color: #FAFAFF; 
$white-color: #FFFFFF;
$dark-color: #333333; 
$black-color: #000000; 
$border-color: #ddd; 
$link-color: #1C39BB; 
$link-hover-color: darken($link-color, 15%);
$border-color-light: #f2f2f2;

//dark mode colors

$darkmode-bg-color: #0E0E0E;//dark mode body background color
$darkmode-text-color: #dac5a7;//dark mode text color
$dark-card-color: #0D0C12;

$border-radius-small: 5px;
$border-radius-medium: 10px;
$border-radius-large: 15px;

$box-shadow-small: 0 0 10px rgba(0, 0, 0, 0.1);
$box-shadow-medium: 0 0 20px rgba(0, 0, 0, 0.1);
$box-shadow-large: 0 0 30px rgba(0, 0, 0, 0.1);

$sec-padding: 5rem 0;

//light mode colors


$light-body-bg: #F6EFEE;