@import "_variables";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nova+Mono&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nova+Mono&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Signika+Negative:wght@300..700&display=swap');

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/IRANSansWeb.eot');
	src: url('../fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/IRANSansWeb.woff2') format('woff2'),
		 url('../fonts/IRANSansWeb.woff') format('woff'),
		 url('../fonts/IRANSansWeb.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans-bold;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/IRANSansWeb_Bold.eot');
	src: url('../fonts/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/IRANSansWeb_Bold.woff2') format('woff2'),
		 url('../fonts/IRANSansWeb_Bold.woff') format('woff'),
		 url('../fonts/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans-num;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/IRANSansWeb(FaNum).eot');
	src: url('../fonts/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/IRANSansWeb(FaNum).woff2') format('woff2'),
		 url('../fonts/IRANSansWeb(FaNum).woff') format('woff'),
		 url('../fonts/IRANSansWeb(FaNum).ttf') format('truetype');
}

@font-face {
	font-family: IRANSans-num-b;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/IRANSansWeb(FaNum)_Bold.eot');
	src: url('../fonts/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),
		 url('../fonts/IRANSansWeb(FaNum)_Bold.woff') format('woff'),
		 url('../fonts/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

:root{
    --primary-color: #{$primary-color};
    --red-color: #{$red-color};
    --green-color: #{$green-color};
    --blue-color: #{$blue-color};
    --orange-color: #{$orange-color};
    --light-color: #{$light-color};
    --white-color: #{$white-color};
	--dark-color: #{$dark-color};
    --black-color: #{$black-color};
    --link-color: #{$link-color};
    --link-hover-color: #{$link-hover-color};
    --border-color: #{$border-color};
	--border-color-light: #{$border-color-light};
    --light-body-bg: #{$light-body-bg};
    --dark-card-color: #{$dark-card-color};
    --border-radius-small: #{$border-radius-small};
	--border-radius-medium: #{$border-radius-medium};
    --border-radius-large: #{$border-radius-large};
	--box-shadow-small: #{$box-shadow-small};
	--box-shadow-medium: #{$box-shadow-medium};
	--box-shadow-large: #{$box-shadow-large};
    --sec-padding: #{$sec-padding};
    --body-font-size: #{$body-font-size};
    --medium-title-font-size: #{$medium-title-font-size};

    //dark mode
    --darkmode-bg-color: #{$darkmode-bg-color};
    --darkmode-text-color: #{$darkmode-text-color};

    --darkmode-bg-card: #{$darkmode-bg-card};
    --darkmode-border-color-card: #{$darkmode-border-color-card};
    --darkmode-border-radius-card: #{$darkmode-border-radius-card};
}


* { 
    box-sizing: border-box; 
    padding: 0; 
    margin: 0; 
} 

html, 
body { 
    max-width: 100vw; 
    overflow-x: hidden; 
    direction: rtl;
} 

h1, 
h2, 
h3, 
h4, 
h5, 
h6 { 
    font-family: "IRANSans-num-b", sans-serif; 
    margin:0;
    line-height: 2;
}

h1 { 
    font-size: 1.8rem; 
    font-weight: 600; 
} 

h2 { 
    font-size: 1.75rem; 
    font-weight: 600; 
} 

h3 { 
    font-size: 1.5rem; 
    font-weight: 600; 
} 

h4 { 
    font-size: 1.4rem; 
    font-weight: 600; 
} 

h5 { 
    font-size: 1.25rem; 
    font-weight: 600; 
} 

h6 {
    font-size: 1.1rem; 
    font-weight: 600; 
}

a { 
    color: inherit; 
    text-decoration: none; 
}

a:hover { 
    color: var(--darkmode-text-color); 
}

ul, li {
	list-style: none;
}

img {
	width: 100%;
}

.loga-transition{
    transition: all 0.3s ease-in-out;
}

//========== CUSTOM DESIGN ==========


//dark mode
body{
    background-color: var(--darkmode-bg-color);
    color: var(--darkmode-text-color);
    font-family: IRANSans, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    direction: rtl;
    text-align: right;
}


.loga-card{
    height: min-content;
    padding: 48px;
    background-color: var(--darkmode-bg-card);
    border: 1px solid var(--darkmode-border-color-card);
    border-radius: var(--darkmode-border-radius-card);
    
    p{
        line-height: 160%;
        font-size: var(--body-font-size);
        
    }
}


.loga-links{
    display: flex;
    align-items: center;
    justify-content: center;
    i{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
        border-radius: 50%;
        background: rgba(218, 197, 167, .05);
        border: 1px solid rgba(218, 197, 167, .15);
    }
    &:hover{
        i{
            background: rgba(218, 197, 167, .15);
            border: 1px solid rgba(218, 197, 167, .25)
        }
    }
}

.loga-hyper-link-btn{
    justify-content: flex-end;
    i{
        transform: rotate(-45deg);
    }
    &:hover i{
        transform: rotate(0);
    }
}

.header{
    width: 100%;
    position: fixed;
    top: 2rem;
    display: flex;
    justify-content: center;
    z-index: 9999;
    .navbar{
        background: rgba(218, 197, 167, .05);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        border: 1px solid rgba(218, 197, 167, .15);
        .navbar-brand{
            font-family: "Gamja Flower", sans-serif;
            font-weight: 500;
            color: var(--darkmode-text-color);
            padding: 0;
            font-size: 1.85rem;
        }
    }
    .navbar-nav{
        .nav-link{
            position: relative;
            color: var(--darkmode-text-color);
            padding: 2px;
            margin: 0 5px;
            &active{
                color: var(--darkmode-text-color);
            }
            &:after {
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                content: "";
                display: block;
                height: 1px;
                left: 0;
                position: absolute;
                background: var(--darkmode-text-color);
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }
            &:hover:after {
                width: 100%; 
              }
        }
    }
}
.header {
    .navbar-nav{
        align-items: center;
        .nav-link.loga-btn{
            background-color: var(--darkmode-text-color);
            color: var(--darkmode-bg-color);
            padding: .5rem 1rem;
            border-radius: 2px;
        }
    }
}


.loga-bg{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero-banner{
    height: 150vh;
    width: 100%;
    .loga-bg{
        background-image: url('../img/hero-bg.jpeg')
    }
}
.hero-content-wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    .hero-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        text-align: center;
        h1{
            
            font-size: 6rem;
            line-height: 1;
            text-align: center;
            font-family: "Playfair Display", serif;
            letter-spacing: 5px;
            margin-bottom: 2rem;
        }
        p{
            font-size: 1.25rem;
            width: 70%;
            margin-bottom: 4rem;
        }
    }
}

.strong-tiṯle{
    font-size: 2.5rem
}



//services section
.services{
    padding: var(--sec-padding);
    .services-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 35px;
    }
    .loga-card{
        .service-link{
            margin: 2rem 0 0;
        }
    }
}


//portfolio section
.portfolio{
    padding: var(--sec-padding);
    .portfolio-wrapper-header{
        display: flex;
        justify-content: space-between;
        padding: 0 48px;
    }
    h1{
        font-family: "Playfair Display", serif;
        font-size: var(--medium-title-font-size);
        letter-spacing: 2px;
    }
}
.portfolio-content-wrapper{
    display: grid;
    grid-template: '1 1';
    gap: 32px;
    .portfolio-card{
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0;
        .loga-bg{
            background-image: url('../img/e8WX4nx8d7xJDLLTWcuA9rjE10.avif');
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        .loga-links{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
        }
        &:hover .loga-links {
            opacity: 1;
            transform: rotate(0);
        }
    }
}
.portfolio-card-content{
    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem;
        padding: 0 2rem;
        background: rgba(218, 197, 167, 0.05);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        border: 1px solid rgba(218, 197, 167, 0.15);
    }
    p{
        margin: 0;
    }
}

//process section
.process{
    padding: var(--sec-padding);
    .process-timeline{
        padding: var(--sec-padding);
    }
}
.process-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    .process-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        text-align: center;
        h1{
            
            font-size: 6rem;
            line-height: 1;
            text-align: center;
            font-family: "Playfair Display", serif;
            letter-spacing: 5px;
            margin-bottom: 2rem;
        }
        .description{
            p{
                font-size: 1.25rem;
                width: 70%;
                margin: auto;
                margin-bottom: 4rem;
            }
        }
    }
}


.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    &:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 1px;
        background-color: rgba(218, 197, 167, 0.15);
        left: 50%;
        transform: translateX(-50%);
      }
      li {
        margin-bottom: 25px;
        position: relative;
        &:before {
            content: " ";
            display: table;
        }
        &:after{
            content: " ";
            display: table;
            clear: both;
        }
      }
  }
.timeline{
        .timeline-panel {
            width: 46%;
            float: left;
            position: relative;
            .subtitle{
                font-size: 1rem;
                margin-bottom: .25rem;
            }
            .title{
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: .5rem;
            }
        }
}

.timeline{
    .timeline-inverted{
        .timeline-panel {
            float: right;
        }
    }
}
/** timeline circle icons **/

.timeline{
    .tl-circ {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 60px;
        height: 60px;
        background: #0e0e0e;
        z-index: 99999;
        span{
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: rgba(218, 197, 167, 0.05);
            border: 1px solid rgba(218, 197, 167, 0.15);
        }
    }
}

.timeline{
    .tl-circ.top-circ{
        top: -30px;
    }
}


  
  /** media queries **/
@media (max-width: 991px) {
    .timeline{
        .timeline-panel{
            width: 44%;
        }
    }
}
  
@media (max-width: 700px) {
    ul.timeline{
        &:before {
            left: 40px;
        }
    }
    
    ul.timeline{
        .timeline-panel{
            width: calc(100% - 90px);
            width: -moz-calc(100% - 90px);
            width: -webkit-calc(100% - 90px);
        }
    }
  
    ul.timeline{
        .tl-circ {
            top: 22px;
            left: 22px;
            margin-left: 0;
        }
    }

  
    ul.timeline{
            .timeline-panel{  
                float: right;
                &:before {
                    border-left-width: 0;
                    border-right-width: 15px;
                    left: -15px;
                    right: auto;
                }
                &:after {
                    border-left-width: 0;
                    border-right-width: 14px;
                    left: -14px;
                    right: auto;
                  }
            }
    }

}



//FAQ section
.faq{
    padding: var(--sec-padding);
}
.faq-wrapper{ 
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 32px;
    justify-content: space-between;
    align-items: flex-start;
    .faq-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
            text-align: justify;
        }
    }
}
.logato-accordion{
    .accordion-item.loga-card{
        padding: 0;
        margin-bottom: 1rem;
        .accordion-button{
            display: flex;
            width: 100%;
            position: relative;
            padding: 2rem;
            text-align: right;
            span{
                width: 85%;
            }
            .accordion-icon{
                position: absolute;
                left: 4%;
                i{
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    font-weight: 300;
                    color: var(--darkmode-text-color);
                    background: rgba(218, 197, 167, 0.05);
                    border: 1px solid rgba(218, 197, 167, 0.15);
                    transition: all .5s ease-in-out;
                }
            }
        }
        .accordion-body{
            padding: 0 2rem;
            margin-bottom: 1rem;
        }
    }
}
.accordion-item.loga-card{
    .accordion-button[aria-expanded="true"]{
        .accordion-icon{
            i{
                transform: rotate(135deg);
            }
        }
    }
}

//footer section
.footer{
    padding: var(--sec-padding);
}
.footer-wrapper{
    display: flex;
    justify-content: space-around;
    .footer-logo-social{
        .footer-logo{
            a{
                font-size: 4rem;
                display: flex;
                justify-content: center;
                font-weight: 700;
                font-family: "Gamja Flower", sans-serif;
            }
        }
        .footer-social{
            display: flex;
            justify-content: space-evenly;
            a{
                font-size: 3rem;
            }
        }
    }
}
.logato-copyright{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--darkmode-border-color-card);
    margin-top: 2rem;
    p{
        margin: 0;
    }
}